@font-face {
    font-family: 'Symbols Nerd Font';
    src: url('../fonts/SymbolsNerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.nf {
    font-family: 'Symbols Nerd Font';
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 